<!-- Wrapper-->
<div id="wrapper" ng-if="$ctr.permissions['19'].r">
   <!-- Change permission when establish a number for this-->
   <!--<header-component></header-component>
      <navigation-component></navigation-component>-->
   <!-- Page wraper -->
   <!--<div id="page-wrapper" class="gray-bg">-->
   <!-- Main view  -->
   <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-12">
         <h2>Events Feedback</h2>
         <!--<p class="padding-top-5"></p>-->
      </div>
   </div>
   <div class="wrapper wrapper-content  animated fadeInRight owner-profile">
      <div class="row">
         <div ng-show="!$ctr.model.events_feedback_stack.length" class="col-xs-12 col-lg-8">
            <div class="ibox">
               <div class="ibox-content">
                  <h3>Thank you! Artecsan is currently making accurate sales forecasts for your restaurant</h3>
               </div>
            </div>
         </div>
         <div ng-show="$ctr.model.events_feedback_stack.length && !$ctr.model.curr_stack_id" class="col-xs-12 col-lg-8">
            <div class="ibox">
               <div class="ibox-content">
                  <h3>Please select a feedback from the list on the right.</h3>
               </div>
            </div>
         </div>
         <div ng-if="$ctr.model.events_feedback_stack.length && $ctr.model.curr_stack_id" class="col-xs-12 col-lg-8">
            <div class="ibox ">
               <div class="ibox-content">
                  <table>
                     <tr>
                        <td>
                           <h3>On day, the {{$ctr.model.curr_date}}, our sales prediction was off by {{$ctr.model.curr_deviation}}%</h3>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <label>Do you know of anything that might have affected your sales on this day?</label>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <select class="form-control" ng-init="$ctr.yes_no[1].name" ng-selected="{{li.name.valueOf() == $ctr.model.true_event.valueOf()}}" ng-model="$ctr.model.true_event" ng-options="li.name as li.name for li in $ctr.yes_no">
                              <option style="display:none" value="">{{$ctr.model.true_event}}</option>
                           </select>
                        </td>
                     </tr>
                     <tr ng-if="$ctr.model.true_event=='Yes'">
                        <td>
                           <label>Great! Could you please share?</label>
                        </td>
                     </tr>
                     <tr ng-if="$ctr.model.true_event=='Yes'">
                        <td>
                           <select class="form-control" ng-init="$ctr.yes_no[1].name" ng-model="$ctr.model.share" ng-options="li.name as li.name for li in $ctr.yes_no" ng-change="$ctr.getEventCategories()">
                              <option style="display:none" value="">{{$ctr.model.share}}</option>
                           </select>
                        </td>
                     </tr>
                  </table>
                  <div class="row" ng-if="$ctr.model.true_event=='No' || $ctr.model.share=='No'">
                     <div class="col-xs-6 text-left">
                        <button scroll-top class="btn btn-primary" ui-sref="admin.managementCategories">&lt;&lt; Back</button>
                     </div>
                     <div class="col-xs-6">
                        <button  type="button" class="btn btn-primary block m-b float-right" ng-click="$ctr.proceed_without_form()">Submit</button>
                     </div>
                  </div>
                  <form ng-if="$ctr.model.true_event=='Yes' && $ctr.model.share=='Yes'" novalidate autocomplete="off" name="$ctr.from" ng-submit="$ctr.next($ctr.from)">
                     <div class="row">
                        <div class="col-xs-12">
                           <div class="form-group">
                              <div class="input-group width-300">
                                 <table>
                                    <tr>
                                       <td>
                                          <label>Please categorize the event</label>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <select class="form-control" ng-model="$ctr.model.selected_event_type" ng-options="li.type as li.type for li in $ctr.event_types" ng-change="$ctr.updateEvents()" required>
                                             <option style="display:none" value="">{{$ctr.model.selected_event_type}}</option>
                                          </select>
                                       </td>
                                       <td ng-if="$ctr.model.is_new_category">
                                          <input class="form-control" ng-model="$ctr.model.new_category" placeholder="Enter a new category" required>
                                       </td>
                                    </tr>
                                 </table>
                                 <table>
                                    <tr>
                                       <td>
                                          <label>What is this event called?</label>
                                       </td>
                                    </tr>
                                    <tr ng-if="$ctr.model.is_new_category==false">
                                       <td>
                                          <select class="form-control" ng-model="$ctr.model.selected_event_name" ng-options="li.name as li.name for li in $ctr.event_list" ng-change="$ctr.updateForm()" required>
                                             <option style="display:none" value="">{{$ctr.model.selected_event_name}}</option>
                                          </select>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td ng-if="$ctr.model.is_new_event">
                                          <input class="form-control" ng-model="$ctr.model.new_event" placeholder="Enter a new event" required>
                                       </td>
                                    </tr>
                                    <tr ng-if="$ctr.model.is_new_event">
                                       <td>
                                          <label>How often does this event occur?</label>
                                       </td>
                                    </tr>
                                    <tr ng-if="$ctr.model.is_new_event">
                                       <td>
                                          <select class="form-control" ng-init="$ctr.repeat_type[0].name" ng-selected="{{li.name.valueOf() == $ctr.model.selected_repeat_type.valueOf()}}" ng-model="$ctr.model.selected_repeat_type" ng-options="li.name as li.name for li in $ctr.repeat_type" ng-change="$ctr.updateEnds()">
                                             <option style="display:none" value="">{{$ctr.model.selected_repeat_type}}</option>
                                          </select>
                                       </td>
                                    </tr>
                                    <tr ng-if="$ctr.model.is_new_event">
                                       <td>
                                          <ul style="list-style-type: none;">
                                             <li>
                                                <label ng-if="$ctr.model.selected_repeat_type==$ctr.repeat_type[0].name.valueOf()">Repeats every n days</label>
                                                <label ng-if="$ctr.model.selected_repeat_type==$ctr.repeat_type[1].name.valueOf()">Repeats every n weeks</label>
                                                <label ng-if="$ctr.model.selected_repeat_type==$ctr.repeat_type[2].name.valueOf()">Repeats every n months</label>
                                                <label ng-if="$ctr.model.selected_repeat_type==$ctr.repeat_type[3].name.valueOf()">Repeats every n years</label>
                                             </li>
                                             <li ng-if="$ctr.model.selected_repeat_type!=$ctr.repeat_type[4].name.valueOf()">
                                                <select class="form-control" ng-init="$ctr.repeat_every_options[0]" ng-selected="{{li.valueOf() == $ctr.model.repeat_every.valueOf()}}" ng-model="$ctr.model.repeat_every" ng-options="li as li for li in $ctr.repeat_every_options" required>
                                                   <option style="display:none" value="">{{$ctr.model.repeat_every}}</option>
                                                </select>
                                             </li>
                                             <li ng-if="$ctr.model.selected_repeat_type!=$ctr.repeat_type[4].name.valueOf()">
                                                <label>Repeat on</label>
                                             </li>
                                             <li ng-if="$ctr.model.selected_repeat_type==$ctr.repeat_type[0].name.valueOf() || $ctr.model.selected_repeat_type==$ctr.repeat_type[1].name.valueOf()">
                                                <label>
                                                <input type="checkbox" ng-model="$ctr.model.selected_weekly_repeat_option[0].Sunday">
                                                S
                                                </label>
                                                <label>
                                                <input type="checkbox" ng-model="$ctr.model.selected_weekly_repeat_option[0].Monday">
                                                M
                                                </label>
                                                <label>
                                                <input type="checkbox" ng-model="$ctr.model.selected_weekly_repeat_option[0].Tuesday">
                                                T
                                                </label>
                                                <label>
                                                <input type="checkbox" ng-model="$ctr.model.selected_weekly_repeat_option[0].Wednesday">
                                                W
                                                </label>
                                                <label>
                                                <input type="checkbox" ng-model="$ctr.model.selected_weekly_repeat_option[0].Thursday">
                                                Th
                                                </label>
                                                <label>
                                                <input type="checkbox" ng-model="$ctr.model.selected_weekly_repeat_option[0].Friday">
                                                F
                                                </label>
                                                <label>
                                                <input type="checkbox" ng-model="$ctr.model.selected_weekly_repeat_option[0].Saturday">
                                                Sa
                                                </label>
                                             </li>
                                             <li ng-if="$ctr.model.selected_repeat_type==$ctr.repeat_type[2].name.valueOf()">
                                                <div ng-repeat="k in $ctr.model.selected_monthly_repeat_option">
                                                   <input type="radio" ng-model="k.selected" ng-value="true" ng-change="$ctr.processRadio(k, $ctr.model.selected_monthly_repeat_option)" />{{k.name}}
                                                </div>
                                             </li>
                                             <li ng-if="$ctr.model.selected_repeat_type==$ctr.repeat_type[3].name.valueOf()">
                                                <div ng-repeat="k in $ctr.model.selected_yearly_repeat_option">
                                                   <input type="radio" ng-model="k.selected" ng-value="true" ng-change="$ctr.processRadio(k, $ctr.model.selected_yearly_repeat_option)" />{{k.name}}
                                                </div>
                                             </li>
                                             <li>
                                                <label>Ends</label>
                                             </li>
                                             <li>
                                                <select class="form-control" ng-init="$ctr.ends[0].name" ng-selected="{{li.name.valueOf() == $ctr.model.selected_ends.valueOf()}}" ng-model="$ctr.model.selected_ends" ng-options="li.name as li.name for li in $ctr.ends" required>
                                                   <option style="display:none" value="">{{$ctr.model.selected_ends}}</option>
                                                </select>
                                             </li>
                                             <li>
                                                <ul ng-if="($ctr.model.selected_repeat_type!=$ctr.repeat_type[0].name.valueOf() && $ctr.model.selected_repeat_type!=$ctr.repeat_type[4].name.valueOf()) && ($ctr.model.selected_ends == 'After n occurrences')" style="list-style-type: none;">
                                                   <li>
                                                      <select class="form-control" ng-init="$ctr.end_n_options[0]" ng-selected="{{li.valueOf() == $ctr.model.ends_n_count.valueOf()}}" ng-model="$ctr.model.ends_n_count" ng-options="li as li for li in $ctr.end_n_options" required>
                                                         <option style="display:none" value="">{{$ctr.model.ends_n_count}}</option>
                                                      </select>
                                                   </li>
                                                </ul>
                                                <ul ng-if="$ctr.model.selected_ends=='On'" style="list-style-type: none;">
                                                   <li>
                                                      <input class="form-control" ng-model="$ctr.model.ends_on" placeholder="YYYY/MM/DD" required>
                                                   </li>
                                                </ul>
                                             </li>
                                          </ul>
                                       </td>
                                    </tr>
                                    <tr ng-if="$ctr.model.is_new_event">
                                       <td>
                                          <label>How big do you think this event is?</label>
                                       </td>
                                    </tr>
                                    <tr ng-if="$ctr.model.is_new_event">
                                       <td>
                                          <select class="form-control" ng-init="$ctr.locn_type[0].name" ng-selected="{{li.name.valueOf() == $ctr.model.selected_locn_type.valueOf()}}" ng-model="$ctr.model.selected_locn_type" ng-options="li.name as li.name for li in $ctr.locn_type" ng-change="$ctr.convertLocn_Type()">
                                             <option style="display:none" value="">{{$ctr.model.selected_locn_type}}</option>
                                          </select>
                                       </td>
                                    </tr>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-xs-6 text-left">
                           <button scroll-top class="btn btn-primary" ui-sref="admin.managementCategories">&lt;&lt; Back</button>
                        </div>
                        <div ng-if="$ctr.model.share=='Yes'" class="col-xs-6">
                           <button scroll-top type="submit"
                              class="btn btn-primary block m-b float-right">Submit
                           </button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="col-xs-12 col-lg-4">
            <div class="ibox ">
               <div class="ibox-content">
                  <div class="tab-content">
                     <div class="tab-pane active">
                        <div class="row">
                           <div class="col-lg-12 text-center">
                              <h2>Pending Feedbacks</h2>
                              <hr/>
                           </div>
                        </div>
                        <div class="">
                           <div class="full-height-scroll" full-scroll>
                              <table class="table table-stripped">
                                 <thead>
                                    <tr>
                                       <th>Date</th>
                                       <th>Deviation (%)</th>
                                       <th></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr ng-repeat="item in $ctr.model.events_feedback_stack">
                                       <td>{{item.date}}</td>
                                       <td>{{item.deviation}}</td>
                                       <td>
                                          <a href="" class="btn btn-circle btn-info" ng-if="$ctr.permissions['12'].d" ng-click="$ctr.switchFeedback(item)" ><i class="fa fa-pencil-square-o"></i></a>
                                       </td>
                                    </tr>
                                    <tr ng-show="!$ctr.model.events_feedback_stack.length">
                                       <td class="text-center" colspan="2">
                                          No pending feedbacks
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer -->
   <div ng-include="'views/common/footer.html'"></div>
   <!--</div>-->
   <!-- End page wrapper-->
</div>
<!-- End wrapper-->
