<!--<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Management Categories</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>-->
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                   <div class="row">
                       <!--<div ng-if="main.subscription_type_id != 4 && main.permissions['22'].r" class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.comingSoon">
                           <div class="widget style1 lazur-bg">
                               <div class="text-center button-element">
                                   <a class="pos-title">Budget</a>
                               </div>
                           </div>
                       </div>
                       <div ng-if="main.subscription_type_id != 4 && main.permissions['23'].r" class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.comingSoon">
                           <div class="widget style1 lazur-bg">
                               <div class="text-center button-element">
                                   <a class="pos-title">Labor</a>
                               </div>
                           </div>
                       </div>
                       <div ng-if="main.subscription_type_id != 4 && main.permissions['24'].r" class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.comingSoon">
                           <div class="widget style1 lazur-bg">
                               <div class="text-center button-element">
                                   <a class="pos-title">Consumer</a>
                               </div>
                           </div>
                       </div>-->
                       <div  ng-if="main.permissions['25'].r" class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.analytics">
                           <div class="widget style1 lazur-bg">
                               <div class="text-center button-element">
                                   <a class="pos-title">Analytics</a>
                               </div>
                           </div>
                       </div>
                       <div  ng-if="main.subscription_type_id != 4 && main.permissions['25'].r" class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.eventsFeedback">
                           <div class="widget style1 lazur-bg">
                               <div class="text-center button-element">
                                   <a class="pos-title">Events Feedback</a>
                               </div>
                           </div>
                       </div>
					   <div  ng-if="main.subscription_type_id != 4 && main.permissions['25'].r" class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.expenseBudget">
                           <div class="widget style1 lazur-bg">
                               <div class="text-center button-element">
                                   <a class="pos-title">Expense Budget</a>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h4>Helpful Tip</h4>
                                    <hr/>
                                </div>
                            </div>
                            <div class="">
                                <div class="full-height-scroll" full-scroll>
                                    <p class="padding-top-5 font-14">
                                       Note: Did you know that if you complete the analytics page, we can provide more insight into how your restaurant operates. We can even <b>confidentially</b> provide insight into how your restaurant compares to other restaurants within your general category.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
