<!-- Wrapper-->
<div id="wrapper">

    <header-component></header-component>

    <navigation-component></navigation-component>

    <!-- Page wraper -->
    <div id="page-wrapper" class="white-bg">

        <!-- Main view  -->
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>POS Sync</h2>
            </div>
        </div>
        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div ng-if="$ctr.setupStatus == 1" class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary" ng-click="$ctr.back()">&lt;&lt; Back</button>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-if="$ctr.pos_id == posSync.id" class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="posSync in $ctr.posSyncList track by $index" ng-click="$ctr.selectSyncPos(posSync)">
                                    <div class="widget style1 navy-bg pos_item cursor-pointer" ng-class="{'selected': $ctr.pos_id == posSync.id}">
                                        <div class="text-center pos-element">
                                            <img src="" ng-src="{{$ctr.base_api_url}}{{posSync.logo_content_item_url}}" alt="{{posSync.name}}" class="pos_logo">
                                        </div>
                                    </div>
                                </div>
								<div ng-if="$ctr.pos_id != posSync.id" class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="posSync in $ctr.posSyncList track by $index">
                                    <div class="widget style1 navy-bg pos_item cursor-pointer" ng-class="{'selected': $ctr.pos_id == posSync.id}">
                                        <div class="text-center pos-element">
                                            <img src="" ng-src="{{$ctr.base_api_url}}{{posSync.logo_content_item_url}}" alt="{{posSync.name}}" class="pos_logo">
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="$ctr.pos_id == 0" class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-click="$ctr.selectSyncPos({id: 0})">
                                    <div class="widget style1 navy-bg pos_item soon" ng-class="{'selected': $ctr.pos_id == 0}">
                                        <div class="text-center pos-element">
                                            <a class="pos-title" style="cursor: pointer;">Other Connections</a>
                                        </div>
                                    </div>
                                </div>
								<div ng-if="$ctr.pos_id != 0" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="widget style1 navy-bg pos_item soon" ng-class="{'selected': $ctr.pos_id == 0}">
                                        <div class="text-center pos-element">
                                            <a class="pos-title" style="cursor: pointer;">Other Connections</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
