<!-- Wrapper-->
<div id="wrapper">    
    <!-- Change permission when establish a number for this-->

    <!--<header-component></header-component>

    <navigation-component></navigation-component>-->

    <!-- Page wraper -->
    <!--<div id="page-wrapper" class="gray-bg">-->


        <!-- Main view  -->

        
        <div class="row">
            <div class="col-lg-12">
                <div class="top-headingbar">
                    <div id="collapseExample" class="collapse in" style="width: 100%;">
                        <div class="title-heading">
                            <div></div>
                            <div class="action-btn">
                                <a href="#/!" class="btn">Export</a>
                                <a href="#/!" class="btn">Print</a>
                                <!-- <button ng-click="printDiv()">Print</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="down-arrow">
                        <button type="button" class="triangle " data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample"></button>
                    </div>
                </div>
            </div>
         </div>
         <div class="employee-sched">
            <div class="employeetitle">
                <p>Employee:</p>
                <p>Jennifer Stewart</p>
            </div>
            <div class="employeeview">
                <div class="form-group">
                    <label class="col-form-label">View</label>
                    <select class="form-control">
                        <option>Timesheet</option>
                        <option>Schedule</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="employeetimeseet">
            <div class="employee-date">
                <div class="employeetoday">
                    <p>Today</p>
                    <p>3/15/2023</p>
                </div>
                <div>
                    <div class="col-sm-12 col-md-6">
                        <div class="payperiod">
                            <button type="button" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Currentcolor" viewBox="0 0 256 256"><path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path></svg></button>
                            <p>Pay Period</p>
                            <p>3/11/2023 thru 3/25/2023</p>
                            <button type="button" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Currentcolor" viewBox="0 0 256 256"><path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path></svg></button>
                        </div>
                        <div class="pay-day">
                            <p>Pay Day</p>
                            <p>3/30/2023</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 totalhours-table">
                        <table class="table">
                            <tr>
                                <td></td>
                                <td style="border-bottom: 1px solid black;">Hours</td>
                                <td style="border-bottom: 1px solid black;">Gross Pay</td>
                            </tr>
                            <tr>
                                <td>Total Hours Worked</td>
                                <td>25.5</td>
                                <td>$648</td>
                            </tr>
                            <tr>
                                <td>Total Hours Remaining</td>
                                <td style="border-bottom: 1px solid black;">34</td>
                                <td style="border-bottom: 1px solid black;">$733</td>
                            </tr>
                            <tr>
                                <td>Total Expected for Period</td>
                                <td style="border-bottom: 2px solid black;">59.5</td>
                                <td style="border-bottom: 2px solid black;">$1,381</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            <div class="clockin-box">
                <h4>CLOCK-IN AVAILABLE NOW<h4>
                <p>3-15-2023 9:22:14</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="employee-Title text-center">
                    <p>Schedule</p>
                </div>
                <div class="table-responsive">
                    <table class="footable footable-custom table-stripped table employeepay-table">
                        <thead>
                            <tr>
                                <th class="text-nowrap">Date</th>
                                <th class="text-nowrap">Day</th>
                                <th class="text-nowrap">Role</th>
                                <th class="text-nowrap">In</th>
                                <th class="text-nowrap">Out</th>
                                <th class="text-nowrap">In</th>
                                <th class="text-nowrap">Out</th>
                                <th class="text-nowrap">Total Hours</th>
                                <th class="text-nowrap" colspan="2">Request</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>3/11/2023</td>
                                <td>Saturday</td>
                                <td>Vacation</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>8</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3/12/2023</td>
                                <td>Sunday</td>
                                <td>n/a</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3/13/2023</td>
                                <td>Monday</td>
                                <td>Waitress</td>
                                <td>3pm</td>
                                <td>9pm</td>
                                <td>9:30pm</td>
                                <td>12:15am</td>
                                <td>8.75</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3/14/2023</td>
                                <td>Tuesday</td>
                                <td>Hostess</td>
                                <td>2.50pm</td>
                                <td>9pm</td>
                                <td>9:30pm</td>
                                <td>12am</td>
                                <td>8.75</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3/15/2023</td>
                                <td>Tuesday</td>
                                <td>Hostess</td>
                                <td>3pm</td>
                                <td>9pm</td>
                                <td>9.30pm</td>
                                <td>12am</td>
                                <td>8.5</td>
                                <td>Trad</td>
                                <td>offer</td>
                            </tr>
                            <tr>
                                <td>3/16/2023</td>
                                <td>Wednesday</td>
                                <td>Hostess</td>
                                <td>3pm</td>
                                <td>9pm</td>
                                <td>9.30pm</td>
                                <td>12am</td>
                                <td>8.5</td>
                                <td>Trad</td>
                                <td>offer</td>
                            </tr>
                            <tr>
                                <td>3/17/2023</td>
                                <td>Thursday</td>
                                <td>Hostess</td>
                                <td>3pm</td>
                                <td>9pm</td>
                                <td>9.30pm</td>
                                <td>12am</td>
                                <td>8.5</td>
                                <td>Trad</td>
                                <td>offer</td>
                            </tr>
                            <tr>
                                <td colspan="7" class="text-right">Total Remaining Hours Scheduled</td>
                                <td colspan="3">59.5</td>

                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>
        </div>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    <!--</div>-->
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
<style>
.ir canvas {
    height: 400px !important;
    border-bottom: 1px solid #ccc;
    padding: 0 0 20px 0;
    margin: 20px 0 20px 0;
}
</style>