<!-- Wrapper-->
<div id="wrapper">       <!-- Change permission when establish a number for this-->

    <!--<header-component></header-component>

    <navigation-component></navigation-component>-->

    <!-- Page wraper -->
    <!--<div id="page-wrapper" class="gray-bg">-->


        <!-- Main view  -->

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Scheduling Setup and Budget</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="restaurant-title text-center">
                    <h2>Restaurant Name</h2>
                    <h4>SCHEDULING SETUP AND BUDGET</h4>
                </div> 
                <div class="employee-Title text-center">
                    <p>Daily Budget</p>
                </div>
                <div class="table-responsive budget-table">
                    <table class="table table-stripped table font-noraml">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th colspan="4" bgcolor="#fd8155">Mon</th>
                                <th colspan="4">Tue</th>
                                <th colspan="4" bgcolor="#fd8155">Wed</th>
                                <th colspan="4">Thu</th>
                                <th colspan="4" bgcolor="#fd8155">Fri</th>
                                <th colspan="4">Sat</th>
                                <th colspan="4" bgcolor="#fd8155">Sun</th>
                                <th colspan="4"> TOTAL</th>
                            </tr>
                            <tr>
                                <th class="font-noraml">Section</th>
                                <th class="font-noraml">Role</th>
                                <th class="font-noraml"># of Employees</th>
                                <th class="font-noraml">Average Hours</th>
                                <th class="font-noraml">Average Rate</th>
                                <th class="font-noraml">Estimated Total</th>
                                <th class="font-noraml"># of Employees</th>
                                <th class="font-noraml">Average Hours</th>
                                <th class="font-noraml">Average Rate</th>
                                <th class="font-noraml">Estimated Total</th>
                                <th class="font-noraml"># of Employees</th>
                                <th class="font-noraml">Average Hours</th>
                                <th class="font-noraml">Average Rate</th>
                                <th class="font-noraml">Estimated Total</th>
                                <th class="font-noraml"># of Employees</th>
                                <th class="font-noraml">Average Hours</th>
                                <th class="font-noraml">Average Rate</th>
                                <th class="font-noraml">Estimated Total</th>
                                <th class="font-noraml"># of Employees</th>
                                <th class="font-noraml">Average Hours</th>
                                <th class="font-noraml">Average Rate</th>
                                <th class="font-noraml">Estimated Total</th>
                                <th class="font-noraml"># of Employees</th>
                                <th class="font-noraml">Average Hours</th>
                                <th class="font-noraml">Average Rate</th>
                                <th class="font-noraml">Estimated Total</th>
                                <th class="font-noraml"># of Employees</th>
                                <th class="font-noraml">Average Hours</th>
                                <th class="font-noraml">Average Rate</th>
                                <th class="font-noraml">Estimated Total</th>
                                <th class="font-noraml"># of Employees</th>
                                <th class="font-noraml">Average Hours</th>
                                <th class="font-noraml">Average Rate</th>
                                <th class="font-noraml">Estimated Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="">Front of House</a></td>
                                <td>
                                    <select class="form-control">
                                        <option>Bar Manager</option>
                                        <option>Bartender</option>
                                        <option>Busser</option>
                                    </select> 
                                </td>
                                <td>1</td>
                                <td>10</td>
                                <td>$15.00</td>
                                <td>$150.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td>1</td>
                                <td>10</td>
                                <td>15</td>
                                <td>$150.00</td>
                            </tr>
                            <tr>
                                <td><a href="">Front of House</a></td>
                                <td>
                                    <select class="form-control">
                                        <option>Bar Manager</option>
                                        <option>Bartender</option>
                                        <option>Busser</option>
                                    </select> 
                                </td>
                                <td>1</td>
                                <td>10</td>
                                <td>$15.00</td>
                                <td>$150.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td>1</td>
                                <td>10</td>
                                <td>15</td>
                                <td>$150.00</td>
                            </tr>
                            <tr>
                                <td><a href="">Front of House</a></td>
                                <td>
                                    <select class="form-control">
                                        <option>Bar Manager</option>
                                        <option>Bartender</option>
                                        <option>Busser</option>
                                    </select> 
                                </td>
                                <td>1</td>
                                <td>10</td>
                                <td>$15.00</td>
                                <td>$150.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td>1</td>
                                <td>10</td>
                                <td>15</td>
                                <td>$150.00</td>
                            </tr>
                            <tr>
                                <td><a href="">Front of House</a></td>
                                <td>
                                    <select class="form-control">
                                        <option>Bar Manager</option>
                                        <option>Bartender</option>
                                        <option>Busser</option>
                                    </select> 
                                </td>
                                <td>1</td>
                                <td>10</td>
                                <td>$15.00</td>
                                <td>$150.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td>1</td>
                                <td>10</td>
                                <td>15</td>
                                <td>$150.00</td>
                            </tr>
                            <tr>
                                <td><a href="">Front of House</a></td>
                                <td>
                                    <select class="form-control">
                                        <option>Bar Manager</option>
                                        <option>Bartender</option>
                                        <option>Busser</option>
                                    </select> 
                                </td>
                                <td>1</td>
                                <td>10</td>
                                <td>$15.00</td>
                                <td>$150.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td>1</td>
                                <td>10</td>
                                <td>15</td>
                                <td>$150.00</td>
                            </tr>
                            <tr>
                                <td><a href="">Front of House</a></td>
                                <td>
                                    <select class="form-control">
                                        <option>Bar Manager</option>
                                        <option>Bartender</option>
                                        <option>Busser</option>
                                    </select> 
                                </td>
                                <td>1</td>
                                <td>10</td>
                                <td>$15.00</td>
                                <td>$150.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td>1</td>
                                <td>10</td>
                                <td>15</td>
                                <td>$150.00</td>
                            </tr>
                            <tr>
                                <td><a href="">Front of House</a></td>
                                <td>
                                    <select class="form-control">
                                        <option>Bar Manager</option>
                                        <option>Bartender</option>
                                        <option>Busser</option>
                                    </select> 
                                </td>
                                <td>1</td>
                                <td>10</td>
                                <td>$15.00</td>
                                <td>$150.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td>1</td>
                                <td>10</td>
                                <td>15</td>
                                <td>$150.00</td>
                            </tr>
                            <tr>
                                <td><a href="">Front of House</a></td>
                                <td>
                                    <select class="form-control">
                                        <option>Bar Manager</option>
                                        <option>Bartender</option>
                                        <option>Busser</option>
                                    </select> 
                                </td>
                                <td>1</td>
                                <td>10</td>
                                <td>$15.00</td>
                                <td>$150.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td>1</td>
                                <td>10</td>
                                <td>15</td>
                                <td>$150.00</td>
                            </tr>
                            <tr>
                                <td><a href="">Front of House</a></td>
                                <td>
                                    <select class="form-control">
                                        <option>Bar Manager</option>
                                        <option>Bartender</option>
                                        <option>Busser</option>
                                    </select> 
                                </td>
                                <td>1</td>
                                <td>10</td>
                                <td>$15.00</td>
                                <td>$150.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td>1</td>
                                <td>10</td>
                                <td>15</td>
                                <td>$150.00</td>
                            </tr>
                            <tr>
                                <td><a href="">Front of House</a></td>
                                <td>
                                    <select class="form-control">
                                        <option>Bar Manager</option>
                                        <option>Bartender</option>
                                        <option>Busser</option>
                                    </select> 
                                </td>
                                <td>1</td>
                                <td>10</td>
                                <td>$15.00</td>
                                <td>$150.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$0.00</td>
                                <td>1</td>
                                <td>10</td>
                                <td>15</td>
                                <td>$150.00</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td>Total Front of House</td>
                                <td>14</td>
                                <td>34</td>
                                <td>$35</td>
                                <td>$306</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>14</td>
                                <td>34</td>
                                <td>$35</td>
                                <td>$306</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Total Back of House</td>
                                <td>14</td>
                                <td>34</td>
                                <td>$35</td>
                                <td>$306</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>14</td>
                                <td>34</td>
                                <td>$35</td>
                                <td>$306</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Total Admin</td>
                                <td>14</td>
                                <td>34</td>
                                <td>$35</td>
                                <td>$306</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>14</td>
                                <td>34</td>
                                <td>$35</td>
                                <td>$306</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Total Other</td>
                                <td>14</td>
                                <td>34</td>
                                <td>$35</td>
                                <td>$306</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>14</td>
                                <td>34</td>
                                <td>$35</td>
                                <td>$306</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Total Budget</td>
                                <td>14</td>
                                <td>34</td>
                                <td>$35</td>
                                <td>$306</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>14</td>
                                <td>34</td>
                                <td>$35</td>
                                <td>$306</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Total Front of House</td>
                                <td>14</td>
                                <td>34</td>
                                <td>$35</td>
                                <td>$306</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>14</td>
                                <td>34</td>
                                <td>$35</td>
                                <td>$306</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
         </div>
        

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    <!--</div>-->
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
<style>
.ir canvas {
    height: 400px !important;
    border-bottom: 1px solid #ccc;
    padding: 0 0 20px 0;
    margin: 20px 0 20px 0;
}
</style>